:root{
  --gameColumns: 4;
  --p1-primary: orange;
  --p1-secondary: #FFE0BD;
  --p2-primary: #106D94;
  --p2-secondary: #9FCDE0;
  --base-color: #fdbf68;
  --text-color: #1d1d1d; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* NAV  */
.nav-bg{
  background-color: var(--base-color);
}

nav{
  max-width: 1200px;
  height: 5rem;
  padding: 1.5rem 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 1.3rem;
}

nav .active {
  text-decoration: underline;
}

nav .logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2.5rem;
  margin: 0 1rem 0 0;
}

nav h1{
  text-transform: uppercase;
  font-size: 1.3rem;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style-type: none;
  padding-left: 4rem;
}

nav a{
  text-decoration: none;
  color: var(--text-color)
}

a:hover {
  text-decoration: underline;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div{
  width: 30px;
  height: 4px;
  background-color: var(--text-color);
  transition: all 0.3s ease;
}

.burger div:not(:last-child){
  margin-bottom: 5px;
}

.nav-links.nav-active {
  transform: translateX(0%);
}

.burger.close .burger-a {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.close .burger-b{
  opacity: 0;
}

.burger.close .burger-c{
  transform: rotate(45deg) translate(-6px, -8px);
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@media screen and (max-width: 760px) {
  #root{
    overflow-x: hidden !important;
    position: relative;
    min-height: 100vh;
  }

  .nav-links{
    position: absolute;
    right: 0;
    top: 5rem;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-width: 50%;
    height: calc(100vh - 5rem);
    background-color: var(--base-color);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  
  .nav-links li{
    padding: 0;
    margin: 3rem;
  }
  
  .burger {
    display: block;
  }
}

/* NOTIFICATIONS */

.notif-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10 !important;
}

/* MULTIPLAYER, JOIN ROOM */

.JoinRoom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 28rem;
  margin: 0 auto;
  padding: 2rem;
}

.JoinRoom button{
  width: 100%;
}

.JoinRoom input{
  width: 15rem;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-color: gray;
}

@media screen and (max-width: 400px) {
  .JoinRoom button {
    font-size: 1.25rem;
  }
}


/* GAME SECTION */

.Game{
  width: min(100vw, 100%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: clamp(3rem, 5vw, 10rem);
  padding: 4rem 2rem 2rem 2rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.room-code {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.turn{
  font-weight: 600;
}

.p1-points, .p2-points{
  margin: 0 0 1rem 2.5rem;
  position: relative;
}

.p1-points::before, .p2-points::before{
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: -2.5rem;
  top: .1rem;
}

.p1-points::before{
  background-color: var(--p1-primary);
}

.p2-points::before{
  background-color: var(--p2-primary);
}

button {
  padding: .5em 3em;
  font-size: 1.5rem;
  margin: 3rem 0;
  font-weight: 600;
  border: none;
  color:white;
  text-shadow: 1px 1px 2px black;
  border-radius: 5px;
  background: #ff7e5f;
  background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
  background: linear-gradient(to left, #ff5f6d, #ffc371);
  background-size: 200%;
  background-position: 1%;
  transition: .2s all;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}

button:hover{
  cursor: pointer;
  background-position: 100%;
}

button:active {
  box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(4px);
}

.game-grid {
  font-size: 14px;
  background-color: whitesmoke;
  width: calc(var(--gameColumns) * 2em * var(--gameColumns) + 0.375em * var(--gameColumns));
  height: calc(var(--gameColumns) * 2em * var(--gameColumns) + 0.375em * var(--gameColumns));
  padding: 2em;
  border: 5px solid rgb(71, 71, 71);
  border-radius: 10px;
  position: relative;
  box-sizing: content-box;
  flex-shrink: 0;
  overflow: hidden;
}

.win {
  height: 10rem;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  position: absolute;
  top: -10.5rem;
  right: 0;
  left: 0;
}

.win.end{
  top: 25%;
  transition: top 0.3s ease-in-out;
}

.win.lost {
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}

/* GAME STYLES */
.box {
  position: absolute;
  width: calc(var(--gameColumns) * 2em);
  height: calc(var(--gameColumns) * 2em);
  opacity: 70%;
}

.box.player1{
  background-color: var(--p1-secondary);
}

.box.player2{
  background-color: var(--p2-secondary);
}

.circle{
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  background-color: black;
  position: absolute;
  transform: translate(-0.5em, -0.5em);
}

.line {
  height: .75em;
  background-color: lightgray;
  position: absolute;
}

.line.player1{
  background-color: var(--p1-primary);
}

.line.player2{
  background-color: var(--p2-primary);
}

.line.gray:hover{
  background-color: grey;
  cursor: pointer;
}

.v-line {
  transform: rotate(90deg) translateY(calc(var(--gameColumns) * 1em));
}

@media screen and (max-width: 940px) {
  .Game{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .game-grid{
    font-size: 11px;
  }

  .win {
    font-size: 2rem;
  }
}

@media screen and (max-width: 470px) {
  .game-grid{
    font-size: 7px;
  }

  nav h1{
      font-size: 1rem;
  }

  .game-info {
    font-size: 1.4rem;
  }
}

/*RULES*/

.content {
  max-width: 1200px;
  padding: 4rem 2rem 2rem 2rem;
  margin: 0 auto;
}

.languages {
  height: 2rem;
}

.languages ul {
  display: flex;
}

.languages li{
  list-style-type: none;
  padding-right: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.languages li:hover::after, .languages .active::after{
  content: '';
  display: block;
  width: 1.3rem;
  height: 0.3rem;
  border-radius: 10px;
  margin-top: -2px;
  margin-right: -2px;
}

.languages .active::after{
  background-color: var(--base-color);
}

.languages li:hover::after{
  background-color: var(--base-color);
  opacity: 50%;
}

.rules h1 {
  margin: 2rem 0;
  text-align: center;
}

.rules p{
  margin-bottom: 1rem;
}
