:root{
  --gameColumns: 4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Grid {
  background-color: whitesmoke;
  width: calc(var(--gameColumns) * 2rem * var(--gameColumns) + 0.375rem * var(--gameColumns));
  height: calc(var(--gameColumns) * 2rem * var(--gameColumns) + 0.375rem * var(--gameColumns));
  margin: 3rem;
  padding: 2rem;
  border: 2px black solid;
  border-radius: 20px;
  position: relative;
  box-sizing: content-box;
}

.box {
  position: absolute;
  width: calc(var(--gameColumns) * 2rem);
  height: calc(var(--gameColumns) * 2rem);
  opacity: 70%;
}

.box.player1{
  background-color: orange;
}

.box.player2{
  background-color: blue;
}

.circle{
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  position: absolute;
  transform: translate(-0.5rem, -0.5rem);
}

.line {
  height: .75rem;
  background-color: lightgray;
  position: absolute;
}

.line.player1{
  background-color: orange;
}

.line.player2{
  background-color: blue;
}

.line.gray:hover{
  background-color: grey;
  cursor: pointer;
}

.v-line {
  transform: rotate(90deg) translateY(calc(var(--gameColumns) * 1rem));
}
