* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Grid {
  background-color: lightgray;
  width: 50rem;
  height: 50rem;
  margin: 5rem;
  padding: 2.5rem;
  position: relative;
  box-sizing: content-box;
}

.circle{
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  position: absolute;
  transform: translate(-0.75rem, -0.5rem);
}

.line {
  height: .5rem;
  background-color: black;
  position: absolute;
}

.v-line {
  transform: rotate(90deg) translateY(5rem);
}
