.alert {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10 !important;
    min-height: 15rem;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2.5rem 2rem 0 2rem;
    text-align: center;
    border-radius: .5rem;
    transition: .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.alert.active {
    transform: translate(-50%, -50%) scale(1);
}


.btn {
    font-size: 1rem;
    margin: 0 2rem 1rem 2rem;
}

.overlay {
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0);
}

.overlay.active{
    transform: scale(1);
}